* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(-95deg, rgba(9,62,92,1) 0%, rgba(5,48,73,1) 100%);
  color: #d9d9d9;
}

button {
  background: #1b1b1b;
  color: #d9d9d9;
  padding: 0 45px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background: #252525;
}

h1 {
  font-size: 3.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}